numpy==1.21.0
scipy==1.6.3
matplotlib==3.4.2
grpcio==1.53.0
jupyter==1.0.0
Cython==0.29.23
protobuf==3.16.0
pandas==1.2.4
healpy==1.14.0
astropy==4.2.1
astroquery==0.4.1
scikit-learn==0.24.2
joblib==1.1.0
hdbscan==0.8.27
pyvo==1.1
pyarrow==8.0.0
koalas==1.8.2
GaiaXPy==1.1.4
git+https://github.com/wfau/gaiadmpsetup@v0.1.5

