global:
  scrape_interval: 15s

scrape_configs:
  - job_name: 'prometheus'
    scrape_interval: 5s
    static_configs:
      - targets: ['monitor:9090']
  - job_name: 'node_exporter'
    scrape_interval: 5s
    static_configs:
      - targets:
{% for host in groups['workers'] if inventory_hostname != host %}
          - '{{ host }}:9100'
{% endfor %}
{% for host in groups['masters'] if inventory_hostname != host %}
          - '{{ host }}:9100'
{% endfor %}
          - 'zeppelin:9100'

rule_files:
  - alert.rules.yml

alerting:
  alertmanagers:
  - static_configs:
    - targets:
      - 'monitor:9093'
