#
# <meta:header>
#   <meta:licence>
#     Copyright (c) 2023, ROE (http://www.roe.ac.uk/)
#
#     This information is free software: you can redistribute it and/or modify
#     it under the terms of the GNU General Public License as published by
#     the Free Software Foundation, either version 3 of the License, or
#     (at your option) any later version.
#
#     This information is distributed in the hope that it will be useful,
#     but WITHOUT ANY WARRANTY; without even the implied warranty of
#     MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
#     GNU General Public License for more details.
#
#     You should have received a copy of the GNU General Public License
#     along with this program.  If not, see <http://www.gnu.org/licenses/>.
#   </meta:licence>
# </meta:header>
#
# AIMetrics: [{"name": "ChatGPT","contribution": {"value": 0,"units": "%"}}]
#

# The name of the cloud to use from the specified clouds.yaml
cloudName: "{{aglais.openstack.cloud.name}}"

# The Kubernetes version of the cluster
# This should match the version of kubelet and kubeadm in the image
kubernetesVersion: "{{ aglais.kubernetes.version }}"

# The name of the image to use for cluster machines
machineImage: "{{clusterapi.clusternode.machine.image}}"

# The name of the SSH key to inject into cluster machines
machineSSHKeyName: "{{aglais.openstack.keypairs.team.name}}"

# Settings for the OpenStack networking for the cluster
clusterNetworking:

  # Custom nameservers to use for the hosts
  dnsNameservers:
    - "{{clusterapi.dnsservers}}"

  # The ID of the external network to use
  # If not given, the external network will be detected
  externalNetworkId: "{{aglais.openstack.networks.external.network.id}}"

# Settings for the control plane
controlPlane:

  # The failure domains to use for control plane nodes
  # If given, should be a list of availability zones
  # Only used when omitFailureDomain = false
  failureDomains: "{{clusterapi.controlnode.domain}}"

  # The flavor to use for control plane machines
  machineFlavor: "{{clusterapi.controlnode.machine.flavor}}"

# Defaults for node groups
# Each of these can be overridden in the specification for an individual node group
nodeGroupDefaults:

  # The flavor to use for machines in the node group
  machineFlavor: "{{clusterapi.clusternode.machine.flavor}}"

# The worker node groups for the cluster
nodeGroups:
  -  # The name of the node group
    name: md-0
    # The number of machines in the node group if autoscale is false
    machineCount: 3
    # The minimum and maximum number of machines in the node group if autoscale is true
    # machineCountMin: 3
    # machineCountMax: 3

# Settings for the capi-addons chart
# https://github.com/stackhpc/capi-helm-charts/tree/main/charts/cluster-addons
# https://github.com/stackhpc/capi-helm-charts/blob/main/charts/cluster-addons/values.yaml
addons:

  # Settings for the CNI addon
  cni:

    # Indicates if a CNI should be deployed
    enabled: true

    # The CNI to deploy - supported values are calico or cilium
    type: calico

    # Settings for the calico CNI
    # See https://projectcalico.docs.tigera.io/getting-started/kubernetes/helm
    calico:
      chart:
        repo: https://projectcalico.docs.tigera.io/charts
        name: tigera-operator
        version: v3.26.0

  # Include the Kubernetes dashboard
  kubernetesDashboard:
    enabled: true


