
# Zeppelin Website
server {
    listen 80;
    listen 443 ssl;
    server_name {{ blue_hostname }};

    ssl_certificate /etc/letsencrypt/live/{{ dev_root_hostname }}/fullchain.pem; # managed by Certbot
    ssl_certificate_key /etc/letsencrypt/live/{{ dev_root_hostname }}/privkey.pem; # managed by Certbot
    include /etc/letsencrypt/options-ssl-nginx.conf; # managed by Certbot
    ssl_dhparam /etc/letsencrypt/ssl-dhparams.pem; # managed by Certbot

    if ($ssl_protocol = "") {
        rewrite ^ https://$host$request_uri? permanent;  # optional, to force use of HTTPS
    }

    location / {    # For regular websever support
        root /www;
        index maintenance.html;
    }

}

# Zeppelin Website
server {
    listen 80;
    listen 443 ssl;
    server_name {{ green_hostname }};

    ssl_certificate /etc/letsencrypt/live/{{ dev_root_hostname }}/fullchain.pem; # managed by Certbot
    ssl_certificate_key /etc/letsencrypt/live/{{ dev_root_hostname }}/privkey.pem; # managed by Certbot
    include /etc/letsencrypt/options-ssl-nginx.conf; # managed by Certbot
    ssl_dhparam /etc/letsencrypt/ssl-dhparams.pem; # managed by Certbot

    if ($ssl_protocol = "") {
        rewrite ^ https://$host$request_uri? permanent;  # optional, to force use of HTTPS
    }

    location / {    # For regular websever support
        root /www;
        index maintenance.html;
    }

}

# Zeppelin Website
server {
    listen 80;
    listen 443 ssl;
    server_name {{ red_hostname }};

    ssl_certificate /etc/letsencrypt/live/{{ dev_root_hostname }}/fullchain.pem; # managed by Certbot
    ssl_certificate_key /etc/letsencrypt/live/{{ dev_root_hostname }}/privkey.pem; # managed by Certbot
    include /etc/letsencrypt/options-ssl-nginx.conf; # managed by Certbot
    ssl_dhparam /etc/letsencrypt/ssl-dhparams.pem; # managed by Certbot

    if ($ssl_protocol = "") {
        rewrite ^ https://$host$request_uri? permanent;  # optional, to force use of HTTPS
    }

    location / {    # For regular websever support
        root /www;
        index maintenance.html;
    }
}

# Zeppelin Website
server {
    listen 80;
    listen 443 ssl;
    server_name {{ prod_hostname }};

    ssl_certificate /etc/letsencrypt/live/{{ prod_hostname }}/fullchain.pem; # managed by Certbot
    ssl_certificate_key /etc/letsencrypt/live/{{ prod_hostname }}/privkey.pem; # managed by Certbot
    include /etc/letsencrypt/options-ssl-nginx.conf; # managed by Certbot
    ssl_dhparam /etc/letsencrypt/ssl-dhparams.pem; # managed by Certbot

    if ($ssl_protocol = "") {
        rewrite ^ https://$host$request_uri? permanent;  # optional, to force use of HTTPS
    }

    location / {    # For regular websever support
        root /www;
        index maintenance.html;
    }

}
