# TODO read this all from a yaml config file, instead of specifying it all here!
export KUBECONFIG=/home/rocky/openstack/k8sdir/config
export CLUSTER_NAME=iris-gaia-red-ceph
export CLUSTER_SPECIFICATION_FILE=capi-iris-gaia-red-ceph-file-test.yaml
export CLUSTER_CREDENTIAL_FILE=appcred-iris-gaia-red-fixed-bootstrap.conf
export CINDER_SECRETS_FILE=cinder-values.yaml

USE_MANILA=true
MANILA_PROTOCOLS_FILE=./manila-csi-kubespray/values.yaml
MANILA_SECRETS_FILE=./manila-csi-kubespray/secrets.yaml
MANILA_STORAGE_CLASS_FILE=./manila-csi-kubespray/sc.yaml
DEFAULT_STORAGE_CLASS=manila
