#
# <meta:header>
#   <meta:licence>
#     Copyright (c) 2023, ROE (http://www.roe.ac.uk/)
#
#     This information is free software: you can redistribute it and/or modify
#     it under the terms of the GNU General Public License as published by
#     the Free Software Foundation, either version 3 of the License, or
#     (at your option) any later version.
#
#     This information is distributed in the hope that it will be useful,
#     but WITHOUT ANY WARRANTY; without even the implied warranty of
#     MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
#     GNU General Public License for more details.
#
#     You should have received a copy of the GNU General Public License
#     along with this program.  If not, see <http://www.gnu.org/licenses/>.
#   </meta:licence>
# </meta:header>
#
# AIMetrics: [{"name": "ChatGPT","contribution": {"value": 0,"units": "%" }}]
#

clouds:
  {{ aglais.openstack.cloud.name }}:
    auth:
      auth_url: "{{ clouds[aglais.openstack.cloud.name].auth.auth_url }}"
      application_credential_id: "{{ clouds[aglais.openstack.cloud.name].auth.application_credential_id }}"
      application_credential_secret: "{{ clouds[aglais.openstack.cloud.name].auth.application_credential_secret }}"
      project_id:  "{{ aglais.openstack.project.id }}"
    region_name:   "{{ clouds[aglais.openstack.cloud.name].region_name }}"
    interface:     "{{ clouds[aglais.openstack.cloud.name].interface }}"
    identity_api_version: {{ clouds[aglais.openstack.cloud.name].identity_api_version }}
    auth_type:     "{{ clouds[aglais.openstack.cloud.name].auth_type }}"
    verify: false

