#
# <meta:header>
#   <meta:licence>
#     Copyright (c) 2020, ROE (http://www.roe.ac.uk/)
#
#     This information is free software: you can redistribute it and/or modify
#     it under the terms of the GNU General Public License as published by
#     the Free Software Foundation, either version 3 of the License, or
#     (at your option) any later version.
#
#     This information is distributed in the hope that it will be useful,
#     but WITHOUT ANY WARRANTY; without even the implied warranty of
#     MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
#     GNU General Public License for more details.
#
#     You should have received a copy of the GNU General Public License
#     along with this program.  If not, see <http://www.gnu.org/licenses/>.
#   </meta:licence>
# </meta:header>
#
#

- name: "Checking destination parent"
  become: true
  stat:
    path: "{{linkdest | dirname}}"
  register: destparent

- name: "Creating destination parent"
  become: true
  file:
    path: "{{linkdest | dirname}}"
    mode: 'u=rwx,g=rx,o=rx'
    state: 'directory'
    owner: "{{ linkuser | default('root') }}"
    group: "{{ linkuser | default('root') }}"
  when: not destparent.stat.exists

- name: "Checking destination"
  become: true
  stat:
    path: "{{linkdest}}"
  register: destination

- name: "Creating destination"
  become: true
  file:
    path: "{{linkdest}}"
    mode: 'u=rwx,g=rx,o=rx'
    state: 'directory'
    owner: "{{ linkuser | default('root') }}"
    group: "{{ linkuser | default('root') }}"
  when: not destination.stat.exists

- name: "Checking link parent"
  become: true
  stat:
    path: "{{linkpath | dirname}}"
  register: linkparent

- name: "Creating link parent"
  become: true
  file:
    path: "{{linkpath | dirname}}"
    mode: 'u=rwx,g=rx,o=rx'
    state: 'directory'
    owner: "{{ linkuser | default('root') }}"
    group: "{{ linkuser | default('root') }}"
  when: not linkparent.stat.exists

- name: "Checking link location"
  become: true
  stat:
    path: "{{linkpath}}"
  register: linklocation

# https://github.com/ansible/ansible/issues/39881
# https://github.com/ansible/ansible/issues/39553
- name: "Creating link"
  become: true
  file:
    src:   "{{linkdest}}"
    path:  "{{linkpath}}"
    state: 'link'
    owner: "{{ linkuser | default('root') }}"
    group: "{{ linkuser | default('root') }}"
    follow: false
  when: not linklocation.stat.exists
