#
# <meta:header>
#   <meta:licence>
#     Copyright (c) 2020, ROE (http://www.roe.ac.uk/)
#
#     This information is free software: you can redistribute it and/or modify
#     it under the terms of the GNU General Public License as published by
#     the Free Software Foundation, either version 3 of the License, or
#     (at your option) any later version.
#
#     This information is distributed in the hope that it will be useful,
#     but WITHOUT ANY WARRANTY; without even the implied warranty of
#     MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
#     GNU General Public License for more details.
#
#     You should have received a copy of the GNU General Public License
#     along with this program.  If not, see <http://www.gnu.org/licenses/>.
#   </meta:licence>
# </meta:header>
#
#

- name: "Create SSH config for Ansible client"
  gather_facts: false
  hosts: localhost
  vars:
    sshdir: "{{ lookup('env','HOME') }}/.ssh"
  vars_files:
    - config/ansible.yml
    - config/openstack.yml
    - /tmp/ansible-vars.yml
  tasks:

    - name: "Check our local SSH directory"
      file:
        path: "{{ lookup('env','HOME') }}/.ssh"
        mode: 'u=rwx,g=rx,o=rx'
        state: directory

    - name: "Discover our Zeppelin node"
      os_server_info:
        cloud: "{{ cloudname }}"
        server: "{{ deployname }}-zeppelin"
      register:
        zeppelinnode

    - name: "Generate Ansible SSH config"
      template:
        src: "templates/ssh-ansible.j2"
        dest: "{{ sshdir }}/ansible-config"
        mode: 'u=rw,g=,o='
        force: true

    - name: "Check our local SSH config"
      stat:
        path: "{{ sshdir }}/config"
        get_mime: false
        get_checksum: false
        get_attributes: false
      register: filestat

    - name: "Link our Ansible SSH config"
      file:
        src: "{{ sshdir }}/ansible-config"
        dest: "{{ sshdir }}/config"
        state: link
      when: filestat.stat.exists == false
