#
# <meta:header>
#   <meta:licence>
#     Copyright (c) 2020, ROE (http://www.roe.ac.uk/)
#
#     This information is free software: you can redistribute it and/or modify
#     it under the terms of the GNU General Public License as published by
#     the Free Software Foundation, either version 3 of the License, or
#     (at your option) any later version.
#
#     This information is distributed in the hope that it will be useful,
#     but WITHOUT ANY WARRANTY; without even the implied warranty of
#     MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
#     GNU General Public License for more details.
#
#     You should have received a copy of the GNU General Public License
#     along with this program.  If not, see <http://www.gnu.org/licenses/>.
#   </meta:licence>
# </meta:header>
#
#

- hosts: localhost
  gather_facts: false
  vars_files:
    - config/ansible.yml
    - config/openstack.yml
    - /tmp/ansible-vars.yml
  tasks:

    - name: "Discover our Zeppelin node"
      os_server_info:
        cloud:  "{{ cloudname }}"
        server: "{{ deployname }}-zeppelin"
      register:
        zeppelinnode

    - name: "Discover our master nodes"
      os_server_info:
        cloud:  "{{ cloudname }}"
        server: "{{ deployname }}-master*"
      register:
        masternodes

    - name: "Discover our worker nodes"
      os_server_info:
        cloud:  "{{ cloudname }}"
        server: "{{ deployname }}-worker*"
      register:
        workernodes

    - name: "Discover our Monitor node"
      os_server_info:
        cloud:  "{{ cloudname }}"
        server: "{{ deployname }}-monitor"
      register:
        monitornodes

    - name: "Generate our DNS hosts file"
      template:
        src:  'templates/dns-hosts.j2'
        dest: "/tmp/aglais-dns-hosts"

- hosts: zeppelin
  gather_facts: false
  tasks:
    - name: "Deploy [/etc/hosts] file to our gateway node"
      become: true
      copy:
        src:  /tmp/aglais-dns-hosts
        dest: /etc/hosts
        owner: root
        group: root
        mode:  u=rw,g=r,o=r

- hosts: all:!zeppelin
  gather_facts: false
  tasks:
    - name: "Deploy [/etc/hosts] file to all our nodes"
      become: true
      copy:
        src:  /tmp/aglais-dns-hosts
        dest: /etc/hosts
        owner: root
        group: root
        mode:  u=rw,g=r,o=r

- hosts: monitor
  gather_facts: false
  tasks:
    - name: "Deploy [/etc/hosts] file to monitor"
      become: true
      copy:
        src:  /tmp/aglais-dns-hosts
        dest: /etc/hosts
        owner: root
        group: root
        mode:  u=rw,g=r,o=r
