#
# <meta:header>
#   <meta:licence>
#     Copyright (c) 2020, ROE (http://www.roe.ac.uk/)
#
#     This information is free software: you can redistribute it and/or modify
#     it under the terms of the GNU General Public License as published by
#     the Free Software Foundation, either version 3 of the License, or
#     (at your option) any later version.
#
#     This information is distributed in the hope that it will be useful,
#     but WITHOUT ANY WARRANTY; without even the implied warranty of
#     MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
#     GNU General Public License for more details.
#
#     You should have received a copy of the GNU General Public License
#     along with this program.  If not, see <http://www.gnu.org/licenses/>.
#   </meta:licence>
# </meta:header>
#
# Based on ideas from Larry Smith Jr.
# https://everythingshouldbevirtual.com/automation/ansible-ssh-known-host-keys/
#

- hosts: zeppelin
  gather_facts: false
  vars_files:
    - config/ansible.yml
    - /tmp/ansible-vars.yml
  tasks:

    - name: "ssh-keyscan by name"
      shell: "ssh-keyscan {{ item }}"
      register: "namekeys"
      loop:
        "{{ groups['all'] }}"

    - name: "ssh-keyscan by address"
      shell: "ssh-keyscan $(getent hosts {{ item }} | cut -d ' ' -f 1)"
      register: "hostkeys"
      loop:
        "{{ groups['all'] }}"

    - name: "Generate the known_hosts file"
      template:
        src: 'templates/ssh-hosts.j2'
        dest: "/tmp/aglais-ssh-hosts"

    - name: "Fetch the known hosts file"
      fetch:
        flat: true
        src: '/tmp/aglais-ssh-hosts'
        dest: "/tmp/aglais-ssh-hosts"

- hosts: all
  gather_facts: false
  tasks:
    - name: "Deploy the known hosts file to [/etc/ssh/ssh_known_hosts]"
      become: true
      copy:
        src: /tmp/aglais-ssh-hosts
        dest: /etc/ssh/ssh_known_hosts
        owner: root
        group: root
        mode: u=rw,g=r,o=r

- hosts: localhost
  gather_facts: false
  tasks:

    - name: "Check local known hosts file"
      stat:
        path: "{{ lookup('env','HOME') }}/.ssh/known_hosts"
        get_mime: false
        get_checksum: false
        get_attributes: false
      register: filestat

    - name: "Deploy local known hosts file"
      copy:
        src: /tmp/aglais-ssh-hosts
        dest: "{{ lookup('env','HOME') }}/.ssh/ansible-hosts"
        mode: u=rw,g=r,o=r
      when: filestat.stat.exists == false
