#
# <meta:header>
#   <meta:licence>
#     Copyright (c) 2022, ROE (http://www.roe.ac.uk/)
#
#     This information is free software: you can redistribute it and/or modify
#     it under the terms of the GNU General Public License as published by
#     the Free Software Foundation, either version 3 of the License, or
#     (at your option) any later version.
#
#     This information is distributed in the hope that it will be useful,
#     but WITHOUT ANY WARRANTY; without even the implied warranty of
#     MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
#     GNU General Public License for more details.
#
#     You should have received a copy of the GNU General Public License
#     along with this program.  If not, see <http://www.gnu.org/licenses/>.
#   </meta:licence>
# </meta:header>
#
#


---
- name: "Install Aglais tools"
  hosts: zeppelin
  gather_facts: false
  vars_files:
    - config/aglais.yml
    - config/ansible.yml
    - /tmp/ansible-vars.yml
  tasks:

    - name: "Create Aglais directory [{{aghome}}]"
      become: true
      ansible.builtin.file:
        path:  '{{aghome}}'
        owner: 'root'
        group: 'root'
        state: directory
        mode:  'u=rwx,g=rwx,o=rx'

    - name: "Create Aglais bin directory [{{aghome}}/bin]"
      become: true
      ansible.builtin.file:
        path:  '{{aghome}}/bin'
        owner: 'root'
        group: 'root'
        state: directory
        mode:  'u=rwx,g=rwx,o=rx'

    - name: "Create Aglais lib directory [{{aghome}}/lib]"
      become: true
      ansible.builtin.file:
        path:  '{{aghome}}/lib'
        owner: 'root'
        group: 'root'
        state: directory
        mode:  'u=rwx,g=rwx,o=rx'


    - name: "Copy Aglais tools to [{{aghome}}/bin]"
      become: true
      ansible.builtin.copy:
        src:  '{{playbook_dir | dirname | dirname }}/aglais/bin/'
        dest: '{{aghome}}/bin'
        owner: 'root'
        group: 'root'
        mode:  'u=rwx,g=rwx,o=rx'

    - name: "Create [/etc/profile.d/aglais.sh]"
      become: true
      ansible.builtin.blockinfile:
        dest:  '/etc/profile.d/aglais.sh'
        state: present
        owner: 'root'
        group: 'root'
        mode:  'u=rw,g=r,o=r'
        create: true
        insertafter: 'EOF'
        marker: '# {mark} Ansible managed configuration'
        block: |
          export PATH=${PATH}:{{aghome}}/bin

