#
# <meta:header>
#   <meta:licence>
#     Copyright (c) 2020, ROE (http://www.roe.ac.uk/)
#
#     This information is free software: you can redistribute it and/or modify
#     it under the terms of the GNU General Public License as published by
#     the Free Software Foundation, either version 3 of the License, or
#     (at your option) any later version.
#
#     This information is distributed in the hope that it will be useful,
#     but WITHOUT ANY WARRANTY; without even the implied warranty of
#     MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
#     GNU General Public License for more details.
#
#     You should have received a copy of the GNU General Public License
#     along with this program.  If not, see <http://www.gnu.org/licenses/>.
#   </meta:licence>
# </meta:header>
#
#

- name: "Configure Hadoop [core-site.xml]"
  hosts: masters:workers:zeppelin
  gather_facts: false
  vars_files:
    - config/ansible.yml
    - config/hadoop.yml
    - /tmp/ansible-vars.yml
  vars:
    hdtempdest: "{{ hostvars[inventory_hostname].paths.hdtempdest }}"
    hdtemplink: "{{ hostvars[inventory_hostname].paths.hdtemplink }}"

  tasks:

    # Empty on Zeppelin,used on master and workers
    - name: "Create Hadoop temp directory"
      include_tasks: "tasks/create-linked.yml"
      vars:
        linkdest: "{{hdtempdest}}"
        linkpath: "{{hdtemplink}}"
        linkuser: "{{hduser}}"

    # https://hadoop.apache.org/docs/r3.2.1/hadoop-project-dist/hadoop-common/ClusterSetup.html#Configuring_the_Hadoop_Daemons
    # https://hadoop.apache.org/docs/r3.2.1/hadoop-project-dist/hadoop-common/core-default.html
    - name: "Configure [{{hdhome}}/etc/hadoop/core-site.xml]"
      become: true
      blockinfile:
        path:   "{{hdhome}}/etc/hadoop/core-site.xml"
        marker: "<!-- {mark} Ansible managed filesystem URL -->"
        insertbefore: "</configuration>"
        block: |
            <!--+
                | The name of the default file system.
                | A URI whose scheme and authority determine the FileSystem implementation.
                | The uri's scheme determines the config property (fs.SCHEME.impl) naming the FileSystem implementation class.
                | The uri's authority is used to determine the host, port, etc. for a filesystem.
                | https://hadoop.apache.org/docs/r3.2.1/hadoop-project-dist/hadoop-common/core-default.html
                |
                | 'fs.defaultFS' replaces the deprecated property 'fs.default.name'.
                | https://stackoverflow.com/a/30480984
                | http://hadoop.apache.org/docs/current/hadoop-project-dist/hadoop-common/DeprecatedProperties.html
                +-->
            <property>
                <name>fs.default.name</name>
                <value>hdfs://{{hdhost}}:9000</value>
            </property>

            <property>
                <name>hadoop.tmp.dir</name>
                <value>{{hdtemplink}}</value>
            </property>
