#
# <meta:header>
#   <meta:licence>
#     Copyright (c) 2020, ROE (http://www.roe.ac.uk/)
#
#     This information is free software: you can redistribute it and/or modify
#     it under the terms of the GNU General Public License as published by
#     the Free Software Foundation, either version 3 of the License, or
#     (at your option) any later version.
#
#     This information is distributed in the hope that it will be useful,
#     but WITHOUT ANY WARRANTY; without even the implied warranty of
#     MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
#     GNU General Public License for more details.
#
#     You should have received a copy of the GNU General Public License
#     along with this program.  If not, see <http://www.gnu.org/licenses/>.
#   </meta:licence>
# </meta:header>
#
#


- name: "Create security rules for Spark"
  gather_facts: false
  hosts: localhost
  vars_files:
    - config/ansible.yml
    - config/spark.yml
    - config/openstack.yml
    - /tmp/ansible-vars.yml
  tasks:

    # Allow Spark master from any.
    # Suspect this is only needed for the standalone Spark cluster, and not neede for Spark on Yarn.
    # spark.master                     spark://master:7077
    - name: "Allow Spark master from any"
      os_security_group_rule:
        cloud: "{{ cloudname }}"
        state: present
        security_group: "{{ security['masters'] }}"
        direction: 'ingress'
        protocol: 'tcp'
        port_range_min: 7077
        port_range_max: 7077

    # Allow Spark job status from any.
    # https://spark.apache.org/docs/3.0.0-preview2/web-ui.html
    # https://spark.apache.org/docs/3.0.0-preview2/monitoring.html#web-interfaces
    - name: "Allow Spark web-ui from any"
      os_security_group_rule:
        cloud: "{{ cloudname }}"
        state: present
        security_group: "{{ security['masters'] }}"
        direction: 'ingress'
        protocol: 'tcp'
        port_range_min: 4040
        port_range_max: 4049

    # Allow Spark history from any.
    # https://spark.apache.org/docs/3.0.0-preview2/monitoring.html#viewing-after-the-fact
    - name: "Allow Spark history from any"
      os_security_group_rule:
        cloud: "{{ cloudname }}"
        state: present
        security_group: "{{ security['masters'] }}"
        direction: 'ingress'
        protocol: 'tcp'
        port_range_min: 18080
        port_range_max: 18080

    # Allow any from masters to workers.
    # Need this until we figure out how to fix the <random> port ranges in Spark.
    - name: "Allow any from masters to workers"
      os_security_group_rule:
        cloud: "{{ cloudname }}"
        state: present
        security_group: "{{ security['workers'] }}"
        direction: 'ingress'
        protocol: 'tcp'
        remote_group: "{{ security['masters'] }}"

    # Allow any from workers to masters.
    # Need this until we figure out how to fix the <random> port ranges in Spark.
    - name: "Allow any from workers to masters"
      os_security_group_rule:
        cloud: "{{ cloudname }}"
        state: present
        security_group: "{{ security['masters'] }}"
        direction: 'ingress'
        protocol: 'tcp'
        remote_group: "{{ security['workers'] }}"

    # Allow any from workers to workers.
    # Need this until we figure out how to fix the <random> port ranges in Spark.
    - name: "Allow any from masters to workers"
      os_security_group_rule:
        cloud: "{{ cloudname }}"
        state: present
        security_group: "{{ security['workers'] }}"
        direction: 'ingress'
        protocol: 'tcp'
        remote_group: "{{ security['workers'] }}"
