#
# <meta:header>
#   <meta:licence>
#     Copyright (c) 2020, ROE (http://www.roe.ac.uk/)
#
#     This information is free software: you can redistribute it and/or modify
#     it under the terms of the GNU General Public License as published by
#     the Free Software Foundation, either version 3 of the License, or
#     (at your option) any later version.
#
#     This information is distributed in the hope that it will be useful,
#     but WITHOUT ANY WARRANTY; without even the implied warranty of
#     MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
#     GNU General Public License for more details.
#
#     You should have received a copy of the GNU General Public License
#     along with this program.  If not, see <http://www.gnu.org/licenses/>.
#   </meta:licence>
# </meta:header>
#
#

- name: "Create our Zeppelin node"
  gather_facts: false
  hosts: localhost
  vars_files:
    - config/ansible.yml
    - config/zeppelin.yml
    - config/openstack.yml
    - /tmp/ansible-vars.yml
  tasks:

    - name: "Create a security group for our Zeppelin node"
      os_security_group:
        cloud: "{{ cloudname }}"
        state: present
        name: "{{ security['zeppelin'] }}"
      register:
        zeppelinsec

    - name: "Add a security rule for IPv4 SSH"
      os_security_group_rule:
        cloud: "{{ cloudname }}"
        state: present
        security_group: "{{ zeppelinsec.id }}"
        direction: 'ingress'
        protocol: 'tcp'
        ethertype: 'IPv4'
        port_range_min: 22
        port_range_max: 22
        remote_ip_prefix: '0.0.0.0/0'

    - name: "Add a security rule for IPv6 SSH"
      os_security_group_rule:
        cloud: "{{ cloudname }}"
        state: present
        security_group: "{{ zeppelinsec.id }}"
        direction: 'ingress'
        protocol: 'tcp'
        ethertype: 'IPv6'
        port_range_min: 22
        port_range_max: 22
        remote_ip_prefix: '::/0'

    - name: "Add a security rule for IPv4 Port 8080"
      os_security_group_rule:
        cloud: "{{ cloudname }}"
        state: present
        security_group: "{{ zeppelinsec.id }}"
        direction: 'ingress'
        protocol: 'tcp'
        ethertype: 'IPv4'
        port_range_min: 8080
        port_range_max: 8080
        remote_ip_prefix: '0.0.0.0/0'

    - name: "Add a security rule for IPv6 Port 8080"
      os_security_group_rule:
        cloud: "{{ cloudname }}"
        state: present
        security_group: "{{ zeppelinsec.id }}"
        direction: 'ingress'
        protocol: 'tcp'
        ethertype: 'IPv6'
        port_range_min: 8080
        port_range_max: 8080
        remote_ip_prefix: '::/0'

    - name: "Create our Zeppelin node"
      os_server:
        cloud: "{{ cloudname }}"
        state: present
        name: "{{ deployname }}-zeppelin"
        image: "{{ hostvars['zeppelin'].image }}"
        flavor: "{{ hostvars['zeppelin'].flavor }}"
        network: "{{ networks['internal'] }}"
        key_name: "{{ sshkeys }}"
        auto_ip: false
        meta:
          hostname: 'zeppelin'
        security_groups:
          - "{{ zeppelinsec.id }}"
      register:
        zeppelinnode

    - name: "Assign a floating IP address to our Zeppelin node"
      os_floating_ip:
        cloud: "{{ cloudname }}"
        state: present
        server: '{{ zeppelinnode.id }}'
        network: "{{ networks['external'] }}"
        nat_destination: "{{ networks['internal'] }}"
      register:
        zeppelinip

    - name: "Apply the Zeppelin security group to our floating IP address"
      os_port:
        cloud: "{{ cloudname }}"
        state: present
        name: '{{ zeppelinip.floating_ip.port }}'
        security_groups:
          - "{{ zeppelinsec.id }}"
