#
# <meta:header>
#   <meta:licence>
#     Copyright (c) 2021, ROE (http://www.roe.ac.uk/)
#
#     This information is free software: you can redistribute it and/or modify
#     it under the terms of the GNU General Public License as published by
#     the Free Software Foundation, either version 3 of the License, or
#     (at your option) any later version.
#
#     This information is distributed in the hope that it will be useful,
#     but WITHOUT ANY WARRANTY; without even the implied warranty of
#     MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
#     GNU General Public License for more details.
#
#     You should have received a copy of the GNU General Public License
#     along with this program.  If not, see <http://www.gnu.org/licenses/>.
#   </meta:licence>
# </meta:header>
#
#

- name: "Create security rules for Prometheus data collection"
  gather_facts: false
  hosts: localhost
  vars_files:
    - config/ansible.yml
    - config/openstack.yml
    - /tmp/ansible-vars.yml
  tasks:

    - name: "Allow 9100 on masters from monitor"
      os_security_group_rule:
        cloud: "{{ cloudname }}"
        state: present
        security_group: "{{ security['masters'] }}"
        direction: 'ingress'
        protocol:  'tcp'
        port_range_min: 9100
        port_range_max: 9100
        remote_group: "{{ security['monitor'] }}"

    - name: "Allow 9100 on workers from monitor"
      os_security_group_rule:
        cloud: "{{ cloudname }}"
        state: present
        security_group: "{{ security['workers'] }}"
        direction: 'ingress'
        protocol:  'tcp'
        port_range_min: 9100
        port_range_max: 9100
        remote_group: "{{ security['monitor'] }}"

    - name: "Allow 9100 on Zeppelin from monitor"
      os_security_group_rule:
        cloud: "{{ cloudname }}"
        state: present
        security_group: "{{ security['zeppelin'] }}"
        direction: 'ingress'
        protocol:  'tcp'
        port_range_min: 9100
        port_range_max: 9100
        remote_group: "{{ security['monitor'] }}"

