#
# <meta:header>
#   <meta:licence>
#     Copyright (c) 2022, ROE (http://www.roe.ac.uk/)
#
#     This information is free software: you can redistribute it and/or modify
#     it under the terms of the GNU General Public License as published by
#     the Free Software Foundation, either version 3 of the License, or
#     (at your option) any later version.
#
#     This information is distributed in the hope that it will be useful,
#     but WITHOUT ANY WARRANTY; without even the implied warranty of
#     MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
#     GNU General Public License for more details.
#
#     You should have received a copy of the GNU General Public License
#     along with this program.  If not, see <http://www.gnu.org/licenses/>.
#   </meta:licence>
# </meta:header>
#
#

---
- name: "Install MySQL Database for Zeppelin/Shiro"
  hosts: zeppelin
  become: true

  vars_files:
    - config/shiro.yml
    - config/aglais.yml
    - config/ansible.yml
    - config/zeppelin.yml
    - /tmp/ansible-vars.yml

  vars:

    mariadbjavaversion: "3.0.4"
    shirohasherversion: "1.9.0"

    shirodbconfig: |
            [main]
            ds = org.mariadb.jdbc.MariaDbDataSource
            ds.url = jdbc:mariadb://localhost:3306/{{shirodbname}}
            ds.user = {{shirodbuser}}
            ds.password = {{shirodbpass}}

            jdbcRealm = org.apache.shiro.realm.jdbc.JdbcRealm
            ps = org.apache.shiro.authc.credential.DefaultPasswordService
            pm = org.apache.shiro.authc.credential.PasswordMatcher
            pm.passwordService = $ps

            jdbcRealm.dataSource = $ds
            jdbcRealm.credentialsMatcher = $pm
            shiro.loginUrl = /api/login

            sessionManager = org.apache.shiro.web.session.mgt.DefaultWebSessionManager
            cookie = org.apache.shiro.web.servlet.SimpleCookie
            cookie.name = JSESSIONID
            cookie.httpOnly = true
            sessionManager.sessionIdCookie = $cookie
            securityManager.sessionManager = $sessionManager
            securityManager.sessionManager.globalSessionTimeout = 86400000


            [urls]
            /api/version = anon
            /api/interpreter/** = authc, roles[admin]
            /api/configurations/** = authc, roles[admin]
            /api/credential/** = authc, roles[admin]
            /** = authc

            [roles]
            admin = *

  tasks:

   - set_fact:
       shirodbpass: "{{ lookup('password','/dev/null chars=ascii_letters,digits,hexdigits length=20') }}!"

   - name: "Install MariaDB connector"
     get_url:
       url: https://repo1.maven.org/maven2/org/mariadb/jdbc/mariadb-java-client/{{mariadbjavaversion}}/mariadb-java-client-{{mariadbjavaversion}}.jar
       dest: "{{zephome}}/lib/"

   - name: "Download Shiro password hasher"
     get_url:
       url: "https://repo1.maven.org/maven2/org/apache/shiro/tools/shiro-tools-hasher/{{shirohasherversion}}/shiro-tools-hasher-{{shirohasherversion}}-cli.jar"
       dest: "{{aghome}}/lib/"

   - name: "Symlink Shiro password hasher"
     ansible.builtin.file:
       src:  "{{aghome}}/lib//shiro-tools-hasher-{{shirohasherversion}}-cli.jar"
       dest: "{{aghome}}/lib//shiro-tools-hasher-cli.jar"
       state: link

   - name: "Install MariaDB server"
     dnf:
       name:  "mariadb-server"
       state: "installed"

   - name: "Install PyMySQL"
     pip:
       name:  "pymysql"
       state: "present"

   - name: "Start the MariaDB service"
     service:
       name:    "mariadb"
       state:   "started"
       enabled: true
       daemon_reload: yes

# Root password is not needed if connecting via Unix socket
# https://mariadb.com/kb/en/authentication-from-mariadb-104/

   - name: "Create MariaDB config for fedora"
     become: true
     blockinfile:
       dest:  '/home/fedora/.my.cnf'
       state: present
       owner: 'fedora'
       group: 'fedora'
       mode:  'u=rw,g=r,o=r'
       create: true
       insertafter: 'EOF'
       block: |
         [client]
         user={{shirodbuser}}
         password={{shirodbpass}}
         database={{shirodbname}}

   - name: "Create MariaDB database [{{shirodbname}}]"
     become: true
     mysql_db:
       name: "{{shirodbname}}"
       state: 'present'

   - name: "Create MariaDB user [{{shirodbuser}}]"
     become: true
     mysql_user:
       name: "{{shirodbuser}}"
       password: "{{shirodbpass}}"
       priv: "{{shirodbname}}.*:ALL"
       state: "present"

   - name: "Create Shiro Configuration"
     copy:
       owner: "{{zepuser}}"
       group: "{{zepuser}}"
       mode:  'u=rwx,g=,o='
       dest:  "{{zephome}}/conf/shiro.ini"
       content: "{{ shirodbconfig }}"
     tags:
       - always

   - name: "Create Shiro tables"
     mysql_query:
        login_db: "{{shirodbname}}"
        query:
            - CREATE TABLE IF NOT EXISTS users (
                username TEXT NOT NULL PRIMARY KEY,
                password TEXT NOT NULL
                )
            - CREATE TABLE IF NOT EXISTS user_roles (
                username  TEXT NOT NULL PRIMARY KEY,
                role_name TEXT NOT NULL
                )
            - CREATE TABLE IF NOT EXISTS user_permissions (
                username   TEXT NOT NULL PRIMARY KEY,
                permission TEXT NOT NULL
                )

