#
# <meta:header>
#   <meta:licence>
#     Copyright (c) 2021, ROE (http://www.roe.ac.uk/)
#
#     This information is free software: you can redistribute it and/or modify
#     it under the terms of the GNU General Public License as published by
#     the Free Software Foundation, either version 3 of the License, or
#     (at your option) any later version.
#
#     This information is distributed in the hope that it will be useful,
#     but WITHOUT ANY WARRANTY; without even the implied warranty of
#     MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
#     GNU General Public License for more details.
#
#     You should have received a copy of the GNU General Public License
#     along with this program.  If not, see <http://www.gnu.org/licenses/>.
#   </meta:licence>
# </meta:header>
#
#

- name: "Configure Zeppelin ssh "
  hosts: zeppelin
  gather_facts: false
  vars_files:
    - config/aglais.yml
    - config/ansible.yml
    - config/zeppelin.yml
    - /tmp/ansible-vars.yml

  tasks:

    - name: "Create the Zeppelin user's SSH directory"
      become: true
      ansible.builtin.file:
        path:  "{{zepuserhome}}/.ssh"
        owner: "{{zepuser}}"
        group: "{{zepuser}}"
        state: directory
        mode:  'u=rwx,g=rwx,o='

    # https://docs.ansible.com/ansible/latest/collections/community/crypto/openssh_keypair_module.html
    - name: "Generate the Zeppelin user's SSH keypair"
      become: true
      community.crypto.openssh_keypair:
        path:  "{{zepuserhome}}/.ssh/id_ssh_rsa"
        owner: "{{zepuser}}"

    - name: "Create our public keys directory [{{aghome}}/ssh]"
      become: true
      ansible.builtin.file:
        path:  "{{aghome}}/ssh"
        owner: 'root'
        group: 'root'
        state: directory
        mode:  'u=rwx,g=rwx,o=rx'

    - name: "Publish the Zeppelin user's public key"
      become: true
      ansible.builtin.copy:
        remote_src: true
        src:   "{{zepuserhome}}/.ssh/id_ssh_rsa.pub"
        dest:  "{{aghome}}/ssh/ssh-{{zepuser}}.pub"
        owner: 'root'
        group: 'root'
        mode:  'a=r'

    - name: "Add the Zeppelin user's public key to authorized_keys"
      become: true
      ansible.builtin.shell: |
        cat "{{zepuserhome}}/.ssh/id_ssh_rsa.pub" \
        >>  "{{zepuserhome}}/.ssh/authorized_keys"

    - name: "Add the localhost public keys to known_hosts"
      become: true
      ansible.builtin.shell: |
        ssh-keyscan 'localhost' >> "{{zepuserhome}}/.ssh//known_hosts"




