#
# <meta:header>
#   <meta:licence>
#     Copyright (c) 2021, ROE (http://www.roe.ac.uk/)
#
#     This information is free software: you can redistribute it and/or modify
#     it under the terms of the GNU General Public License as published by
#     the Free Software Foundation, either version 3 of the License, or
#     (at your option) any later version.
#
#     This information is distributed in the hope that it will be useful,
#     but WITHOUT ANY WARRANTY; without even the implied warranty of
#     MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
#     GNU General Public License for more details.
#
#     You should have received a copy of the GNU General Public License
#     along with this program.  If not, see <http://www.gnu.org/licenses/>.
#   </meta:licence>
# </meta:header>
#
# https://docs.openstack.org/manila/ocata/devref/cephfs_native_driver.html#mounting-shares-using-fuse-client
# https://wiki.fysik.dtu.dk/it/Ceph_storage#mount-cephfs-using-fuse
# https://docs.ceph.com/en/latest/man/8/ceph-fuse/
# https://docs.ceph.com/en/latest/cephfs/mount-using-fuse/
# https://docs.ansible.com/ansible/2.5/modules/mount_module.html
#
# Requires the following extra params:
#
#   mntpath:  '/aglais/data/gaia/dr2'
#   mntmode:  'rw'
#
#   cephuser:  '${cephuser:?}'
#   cephkey:   '${cephkey:?}'
#   cephpath:  '${cephpath:?}'
#   cephnodes: '${cephnodes// /,}'
#
#

---
- name: "Install and mount a CephFS share"
  hosts: "{{ mnthost | default('zeppelin:masters:workers') }}"
  gather_facts: false
  vars_files:
    - config/ansible.yml
    - /tmp/ansible-vars.yml
  vars:
    keyfile:  '/etc/ceph/ceph.client.{{cephuser}}.keyring'
    cfgfile:  '/etc/ceph/ceph.conf'

    mntopts:  'async,auto,nodev,noexec,nosuid,_netdev,{{mntmode}}'
    mntowner: "{{hostvars[inventory_hostname].login}}"
    mntgroup: 'users'

  tasks:

    - name: "Install CephFS common tools"
      become: true
      dnf:
        name: "ceph-common"
        state: present

    - name: "Creating CephFS cfg file [{{cfgfile}}]"
      become: true
      blockinfile:
        path:  "{{cfgfile}}"
        create: true
        block: |
            [client]
                client quota = true
                mon host = {{cephnodes}}

    - name: "Creating CephFS key file [{{keyfile}}]"
      become: true
      blockinfile:
        path:  "{{keyfile}}"
        create: true
        block: |
            [client.{{cephuser}}]
                key = {{cephkey}}

# This causes an error if already mounted.
# Not needed - the fstab mount will create the target directory.
#    - name: "Creating mount point [{{mntpath}}]"
#      become: true
#      file:
#        path: "{{mntpath}}"
#        mode: "u=rwx,g=rx,o=rx"
#        state: directory
    - name: "Creating CephFS fstab entry [{{mntpath}}]"
      become: true
      mount:
        src:    "{{cephnodes}}:{{cephpath}}"
        path:   "{{mntpath}}"
        fstype: "ceph"
        opts:   "name={{cephuser}},config={{cfgfile}},{{mntopts}}"
        state:  mounted

#    - name: "Checking [{{mntpath}}/test]"
#      stat:
#        path: "{{mntpath}}"
#      register: result
#    - debug:
#        var: result
#
#    - name: "Checking [{{mntpath}}]"
#      shell:
#        cmd: "du -h {{mntpath}}"
#      register: result
#    - debug:
#        var: result.stdout_lines

# Fails if the mount is ro.
#    - name: "Setting permissions for [{{mntpath}}]"
#      become: true
#      file:
#        path:  "{{mntpath}}"
#        mode:  "u=rwx,g=rx,o=rx"
#        owner: "{{mntowner}}"
#        group: "{{mntgroup}}"
