[Unit]
Description={{alertmanager_serviceName}}
Wants=network-online.target
After=network-online.target

[Service]
User={{ alertmanager_userId }}
Group={{ alertmanager_groupId }}
Restart=always
RestartSec=2
StartLimitInterval=0
Type=simple
ExecStart={{ alertmanager_exec_command }}

[Install]
WantedBy=multi-user.target
